body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  text-align: center;
}

.row {
  margin-top: 15px;
}
#file_upload {
  height: 350px;
}
.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#file_list {
  height: 350px;
  overflow-x: hidden;
  overflow-x: auto;
  text-align: justify;
}

h5 {
  text-align: center;
}

#fileList {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
  overflow: hidden;
}

#fileList td,
#students th {
  border: 2px solid #ddd;
  padding: 8px;
}

#fileList tr:nth-child(even) {
  background-color: #f2f2f2;
}

#fileList tr:hover {
  background-color: #ddd;
}

#fileList th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

#fileList tr:hover {
  cursor: pointer;
}